<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>允许获取位置信息,可以方便的推荐相关影视信息</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx73a08c02140c530b</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>a0s72w</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>openinestallforios9bfore</string>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencent101553215</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>qq</string>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>QQ060d943f</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>qq</string>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wb687573772</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weibo</string>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string/>
		</dict>
		<dict>
		</dict>
	</array>
	<key>MinimumOSVersion</key>
	<string>13.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDarkContent</string>
	<key>CFBundleIdentifier</key>
	<string>com.huangguapian.www</string>
	<key>DTXcodeBuild</key>
	<string>11C504</string>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>若不允许,您将不能在发布内容中上传图片</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>若不允许,您将不能在发布信息时上传照片</string>
	<key>CFBundleExecutable</key>
	<string>大千影视</string>
	<key>BuildMachineOSBuild</key>
	<string>19B88</string>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon20x20</string>
				<string>AppIcon29x29</string>
				<string>AppIcon40x40</string>
				<string>AppIcon60x60</string>
				<string>AppIcon76x76</string>
				<string>AppIcon83.5x83.5</string>
			</array>
		</dict>
	</dict>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>weixin</string>
		<string>wechat</string>
		<string>wx73a08c02140c530b</string>
		<string>mqqapi</string>
		<string>mqq</string>
		<string>sinaweibo</string>
		<string>sinaweibohd</string>
		<string>sinaweibosso</string>
		<string>sinaweibohdsso</string>
		<string>weibosdk</string>
		<string>weibosdk2.5</string>
		<string>whatsapp</string>
	</array>
	<key>NSContactsUsageDescription</key>
	<string>若不允许,您将不能访问通讯录</string>
	<key>com.openinstall.APP_KEY</key>
	<string>a0s72w</string>
	<key>UISupportedDevices</key>
	<array>
		<string>iPhone10,2</string>
		<string>iPhone10,5</string>
		<string>iPhone8,2</string>
		<string>iPhone9,2</string>
		<string>iPhone9,4</string>
	</array>
	<key>DTAppStoreToolsBuild</key>
	<string>11C29</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>CFBundleName</key>
	<string>大千影视</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>大千影视</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSCameraUsageDescription</key>
	<string>若不允许,您将不能在应用内使用扫一扫功能</string>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>ITSDRMScheme</key>
	<string>v2</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>若不允许,您将不能在应用内访问蓝牙</string>
	<key>DTPlatformBuild</key>
	<string>17B102</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>DTSDKBuild</key>
	<string>17B102</string>
	<key>DTXcode</key>
	<string>1130</string>
	<key>DTSDKName</key>
	<string>iphoneos13.2</string>
	<key>CFBundleVersion</key>
	<string>8</string>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>DTPlatformVersion</key>
	<string>13.2</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4.0</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon20x20</string>
				<string>AppIcon29x29</string>
				<string>AppIcon40x40</string>
				<string>AppIcon60x60</string>
			</array>
		</dict>
	</dict>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>UIMainStoryboardFile</key>
	<string>Launch Screen</string>
</dict>
</plist>